.markdown{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow: scroll;
}

.markdown * {
    word-break: normal;
    white-space: normal;
}

.markdown pre > code{
    white-space: pre !important;
}

code {
    font-family: monospace !important;
}

